        
        :root{
            --color-light:#dbd4c7;
            --color-dark:#2b3239;
        }

        .color-palette--text{
            text-align: center;
            color:var(--color-dark);
            margin: 1em;
            font-size: 1.5em;
            font-weight: 600;
            font-family:'Courier New', Courier, monospace;
        }

        .buttonClass {
            font-size:1.4em;
            font-family:Arial;
            padding: .8em 1.5em 1.8em 1.5em;
            height:54px;
            border-width:1px;
            color:black;
            border-color:rgba(11, 11, 11, 1);
            font-weight:bold;
            box-shadow: 4px 5px 0px 1px rgba(0, 0, 0, 0.47);
            background:var(--color-light);
        }


        .buttonClass:hover {
            background: rgba(186, 186, 186, 1)
        }
        .buttonClass:active {
            background: var(--color-dark);
            color: var(--color-light);   
            box-shadow: inset 2px 3px 0px 1px rgba(0, 0, 0, 0.47);
                    
        }
        .m-auto{
            display: block;
            margin: auto;
        }

        .mv-4{
            margin-top: 4em;
            margin-bottom: 4em;
        }